.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 60%;
  max-width: 800px;
  height: auto;
  max-height: 80%;
  z-index: 100;
  overflow: auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.modalButton {
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  background-color: grey;
}
