@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ruda:wght@600&display=swap");

body {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ruda", sans-serif;
}

h1 {
  font-size: 50px;
}

a,
p,
input,
button {
  font-family: "Roboto Slab", serif;
}

a {
  color: #000;
}

.search-bar-container {
  padding: 1rem 20%;
  border-radius: 0;
}

.btn {
  border-radius: 0px;
  border: 2px solid white;
  background-color: black;
}

.modal-content {
  background: white;
}

.results-container {
  background: black;
  padding: 1em 0px;
  margin: 0 10%;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 1px 1px 5px grey;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}

.list {
  list-style-type: none;
}

.list-item {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: baseline;
}

.list-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
}

@media (max-width: 576px) {
  .search-bar-container {
    padding: 1rem 5%;
  }

  #siteTitle {
    font-size: 2em;
  }

  .list-item h3 {
    font-size: 95%;
  }
  .list-item p {
    font-size: 95%;
  }

  .results-container {
    position: relative;
    padding-right: 10%;
    margin: 0 5%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .spinner-border {
    left: 45%;
    top: 40%;
  }
}

.cheers {
  width: 200px;
  height: auto;
}

.glass {
  width: 50px;
  height: auto;
}

.random-brewery {
  text-align: center;
  color: black;
}

.row.text-center {
  margin-left: 100px;
}

.row label {
  margin-left: 100px;
  text-align: left;
}

.modal-text {
  color: black;
  text-align: left;
  margin-left: 150px;
  margin-bottom: 10px;
}
